<li class="burger-item">
    {{burger_name}}

    {{#unless devoured}}
        <a class="btn waves-effect waves-light devour-button" data-id="{{id}}" devour-id="{{devour}}">DEVOUR BURGER</a>
    {{/unless}}
    {{#if devoured}}
        -Burger Eaten Already-
    {{/if}}
    
</li>